<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Status" value="1"/>
    <!--开始进程文件路径，例如：C:\Users\hsl19\AppData\Local\Google\Chrome\Application\chrome.exe-->
    <add key="AppName" value="chrome"/>
    <add key="AppNamePath" value="C:\Users\H\AppData\Local\Google\Chrome\Application\chrome.exe"/>
    <add key="CmdLine" value=""/>

    <!--开始进程文件路径，例如：C:\Users\hsl19\AppData\Local\Google\Chrome\Application\chrome.exe-->
    <add key="KillAppName" value="chrome"/>
    <add key="KillAppNamePath" value="C:\Users\H\AppData\Local\Google\Chrome\Application\chrome.exe"/>
    <add key="KillCmdLine" value=""/>
  </appSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
